.header{
    height:100px;
}

@keyframes slidedogg{
    0%{left:0vw;}
    50%{left:65vw;}
    100%{left:0vw;}
}
img{
    position:absolute;
    animation-name: slidedogg;
    animation-duration:2s;
    animation-iteration-count:infinite;
}
.floating{
    position:fixed;
    bottom:10px;
}
#blank{
    height:50px;
}
.css-serial {
    counter-reset: serial-number; /* Set the serial number counter to 0 */
}

.css-serial td:first-child:before {
    counter-increment: serial-number; /* Increment the serial number counter */
    content: counter(serial-number); /* Display the counter */
}
